<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="css/bootstrap2.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/page_pingendo.css" rel="stylesheet" type="text/css">
    <link href="css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <title>ITIL QUIZ GAME</title>
    <link rel="icon" href="img/itil_process.png" />

</head><body>
<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="lead nav navbar-left navbar-nav">
                <li>
                    <a href="#">ITIL QUIZ GAME <img src="img/itil_process.png" width="20"></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" arfa-expanded="false" contenteditable="false"><i class="et-down fa fa-2x fa-user text-primary"><br></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href=atualizar/edidar_usuario.php> Editar Dados </a>
                        </li>
                       <li class='divider'></li>
                        <li>
                            <a href=atualizar/meus_jogos.php> Meus Jogos </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="logout.php" >Sair</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12"></div>
        </div>
    </div>
</div>
    <div class='section''>
      <div class='container'>
        <div class='row'>
          <div class='col-md-12'>
            <div class='section'>
              <div class='container'>
                <div class='row'>
                  <div class='col-md-3' align='center'>
                    <a href='/gamelist' style='text-decoration: none'><img src='img/start_game.png' class='img-circle img-responsive' width='200'>
                    <h1 style='font-family: Lobster'>Jogos</h1>
                  </a>
                  </div>
                  <div class='col-md-3' align='center'>
                    <a href='/ajuda' style='text-decoration: none'><img src='img/icon_rules.png' class='img-circle img-responsive' width='200'>
                    <h1 style='font-family: Lobster'>Regras</h1></a>
                  </div>
                  <div class='col-md-3' align='center'>
                    <a href='logout.php' style='text-decoration: none'><img src='img/quit.png' class='img-circle img-responsive' width='200'>
                    <h1 style='font-family: Lobster'>Sair</h1></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>"



<div class="section" style="display: none">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="img/start_game.png" class="img-responsive">
                            </div>
                            <div class="col-md-3">
                                <img src="img/icon_ranking.png" class="img-responsive">
                            </div>
                            <div class="col-md-3">
                                <img src="img/icon_rules.png" class="img-responsive">
                            </div>
                            <div class="col-md-3">
                                <img src="img/quit.png" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12"></div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12"></div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12"></div>
        </div>
    </div>
</div>
<footer class="section section-primary">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>ITIL QUIZ GAME
                    <img src="img/itil_process.png" width="50">
                </h1>
            </div>
            <div class="col-sm-6">
                <p class="text-info text-right">
                    <br>
                    <br>
                </p>
                <div class="row">
                    <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                        <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                        <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                        <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                        <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 hidden-xs text-right">
                        <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                        <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                        <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                        <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


</body></html>
