<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="../js/ajax/libs/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/page_pingendo.css" rel="stylesheet" type="text/css">
    <link href="css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
  </head><body class="hidden-md hidden-sm hidden-xs" data-spy="scroll">
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active">
              <a href="/dashbord">Inicio</a>
            </li>

          </ul>
          <ul class="lead nav navbar-left navbar-nav">
            <li>
              <a href="/dashbord">ITIL QUIZ GAME <img src="img/itil_process.png" width="20"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <i class="fa fa-3x fa-fw fa-bookmark-o"></i>
          </div>
        </div>
        <div class="row">
          <div align="center"></div>
          <div class="col-md-12" align="center">
            <h1>Regras</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- Chosen-->
    <script src="js/plugins/chosen/chosen.jquery.js"></script>
    <!-- iCheck -->
    <script src="js/plugins/iCheck/icheck.min.js"></script>
    <script>
      $(document).ready(function(){
                                                                                      $('.i-checks').iCheck({
                                                                                          checkboxClass: 'icheckbox_square-green',
                                                                                          radioClass: 'iradio_square-green'
                                                                                      });

                                                                                      var config = {
                                                                                              '.chosen-select'           : {},
                                                                                              '.chosen-select-deselect'  : {allow_single_deselect:true},
                                                                                              '.chosen-select-no-single' : {disable_search_threshold:10},
                                                                                              '.chosen-select-no-results': {no_results_text:'Oops, Não encontrei!, tente diferente'},
                                                                                              '.chosen-select-width'     : {width:"99%"}
                                                                                              }
                                                                                          for (var selector in config) {
                                                                                              $(selector).chosen(config[selector]);
                                                                                          }
                                                                                        });
    </script>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="img/itil_process.png" class="img-responsive">
          </div>
          <div class="col-md-6">
            <h1 class="text-warning">ITIL QUIZ GAME</h1>
            <p class="lead text-justify">O Quiz é um jogo de perguntas e respostas relacionado a ITIL onde é abordado o assunto sobre Transição de serviço.

        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="text-danger text-left">Informações</h1>
            <h3>O candidato conta com vários tipos de ajuda:</h3>
            <ol class="lead" contenteditable="false">
              <li>
                <b>Dificuldade</b>&nbsp;- . É constituído por 20 perguntas que são divididas em dois quizzes, o quiz na dificuldade EASY o jogador recebe 1 pontos
                                                e no HARD 3 pontos.
               
                </li>
              <li>
                <b>Respostas</b>&nbsp;- Cada resposta certa o jogador recebe pontos, que é adicionando ao finalizar o quiz.</li>
              <li>
                <b>Ranking</b>- O jogador ganhará mais pontos sempre que realiza o quiz, então quanto mais vezes você fizer,
                 mais pontos recebe.
              </li>
              
              
            </ol>
          </div>
          <div class="col-md-6">
            <img src="img/ops.png" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="img/premio_icon.jpg" class="img-responsive">
          </div>
          <div class="col-md-6">
            <div></div>
            <div></div>
            <h1 class="text-center text-warning">Top Jogador</h1><table class="table table-condensed table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Jogador</th>
                  <th>Score</th>
                </tr>
              </thead>

              <%for(i=0; i < data.length ; i++){%>
              <tbody>

                    <tr>
                      <td><%=data[i].id%></td>
                      <td><%=data[i].nome%></td>
                      <td><%=data[i].score%></td>
                    </tr>

                     <%}%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <footer class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h1>ITIL QUIZ GAME
              <img src="img/itil_process.png" width="50">
            </h1>
          </div>
          <div class="col-sm-6">
            <p class="text-info text-right">
              <br>
              <br>
            </p>
            <div class="row">
              <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 hidden-xs text-right">
                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>


</body></html>
