.destaque{

text-decoration:none;
display:block;
overflow:hidden;
}

.destaque img{
display:block;
border:0;
}

.destaque h2{
font-family:Arial, Helvetica, sans-serif;
font-size:2em;
position:relative;
top:-50px;
line-height:1.14em;
color:#fff;
background:#3366CC;
}
