<html lang="pt-br"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css\index_css.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
    <title>ITIL QUIZ GAME</title>
    <link rel="icon" href="img/itil_process.png" />
    <script type="text/javascript">
        window.onload = function(){
            document.getElementById('audiotheme').play();
        };
    </script>
</head><body>
<div class="cover">
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="#">Contatos</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="background-image-fixed cover-image" style="background-image : url('img/back_show.jpg')"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="row">
                    <div class="col-md-12" align="center">

                        <img src="img/itil_process.png" width="200">
                    </div>
                </div>
                <h1 class="text-inverse"></h1>
                <p class="text-center text-inverse">Teste os seus conhecimentos</p>
                <br>
                <br>
                <a class="btn btn-lg btn-primary" data-toggle="modal" href="#modalLoginIndex">Entrar</a>
            </div>
        </div>
    </div>
</div>
<div class="section">

</div>
<div class="fade modal" id="modalLoginIndex">
    <div class="modal-dialog modal-sm" id="modalLoginIndex">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" contenteditable="true">
                    <i class="fa fa-fw fa-lg fa-user"></i>Entrar</h4>
            </div>
            <div class="modal-body">
                <form role="form" method="POST" action="/autenticar">
                    <div class="form-group">
                        <label class="control-label" for="exampleInputEmail1">Login</label>
                        <input class="form-control" name="email" placeholder="Digite o seu Login" type="email">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="exampleInputPassword1">Senha</label>
                        <input class="form-control" name="senha" placeholder="Digite sua Senha" type="password">
                    </div>
                    <div align="center">
                        <button type="submit" class="btn btn-primary">Entrar</button>
                    </div>
                </form>
                <blockquote>
                    <p class="text-center">Não possui cadastro?
                        <br>
                        <a href="/cadastro">Crie aqui!</a>
                    </p>
                    <footer>
                        <a href="#">Recuperar senha</a>
                    </footer>
                </blockquote>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
<footer class="section section-primary">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>ITIL QUIZ GAME
                    <img src="img/itil_process.png" width="50">
                </h1>
                <p></p>
            </div>
            <div class="col-sm-6">
                <p class="text-info text-right">
                    <br>
                    <br>
                </p>
                <div class="row">
                    <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                        <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                        <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                        <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                        <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 hidden-xs text-right">
                        <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                        <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                        <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                        <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


</body></html>