<!DOCTYPE html>
<script type='text/javascript'>
        function startSuccess(){
            swal('Dados Salvos!', '', 'success');
        };
        window.onload=startSuccess;
        </script>"

      <script type='text/javascript'>
        function startError(){
            swal('Erro ao tentar salvar Salvar!', 'CPF invalido!', 'error');
        };
        window.onload=startError;
        </script>";


<html lang="pt-br"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="../js/ajax/libs/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <link href="../css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../css/page_pingendo.css" rel="stylesheet" type="text/css">
    <link href="../css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="../css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="../css/plugins/iCheck/custom.css" rel="stylesheet">
    <script src="../sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../sweetalert/dist/sweetalert.css">
    <title>Cadastrar</title>
    <link rel="icon" href="../img/show_logo.png" />
  </head><body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="lead nav navbar-left navbar-nav">
            <li>
              <a href="/teste">Quiz Itil <img src="../img/itil.png" width="20"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div align="center">
            <i class="fa fa-5x fa-fw fa-user"></i>
          </div>
          <div class="col-md-12" align="center">
            <h1>Cadastro</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <form role="form" method="POST" action="/cadastrar">
              <div class="form-group">
              </div>
              <div class="form-group">
                <label class="control-label" for="exampleInputNome">Apelido</label>
                <input class="form-control"  name="apelido" placeholder="Digite o seu nome completo" type="text">
              </div>
              <div class="form-group">
                <label class="control-label" for="exampleInputNome">Nome</label>
                <input class="form-control"  name="nome" placeholder="Digite o seu nome completo" type="text">
              </div>
              <div class="form-group">
                <label class="control-label" for="exampleInputEmail1">E-mail</label>
                <input class="form-control" name="email" placeholder="Digite o seu e-mail" type="email" required="">
              </div>
              <div class="form-group">
                <label class="control-label" for="exampleInputPassword1">Senha</label>
                <input class="form-control" name="senha" minlength="6" maxlength="30" name="cadastro_input_senha" placeholder="Digite a sua senha" type="password">
              </div>
              <div class="form-group">
                <label class="control-label" for="exampleInputPassword2">Confirmar Senha</label>
                <input class="form-control" name="confirmaSenha" minlength="6" maxlength="30" name="cadastro_input_confirma_senha" placeholder="Confirme a senha" type="password">
              </div>
              <button type="submit" class="btn btn-success">Salvar
                <i class="fa fa-fw fa-floppy-o"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12"></div>
        </div>
      </div>
    </div>
    <footer class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h1>Quiz ITIL GAME
              <img src="../img/itil_process.png" width="50">
            </h1>
          </div>
          <div class="col-sm-6">
            <p class="text-info text-right">
              <br>
              <br>
            </p>
            <div class="row">
              <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 hidden-xs text-right">
                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Input Mask-->
    <script src="../js/plugins/jasny/jasny-bootstrap.min.js"></script>
    <script>




      function exibe() {

          if($('senha').val() != $('#ConfirmaSenha').val()){
            alert('Senhas diferentes');
            return false;
        }

                       if(document.getElementById("radioProfessor").checked == true){
                          document.getElementById("divTitulo").style.display = "inline";
                          document.getElementById("divProfessor").style.display = "inline";
                          document.getElementById("exampleInputLattes").required=true;
                          document.getElementById ("senha").value="";
                          document.getElementById ("ConfirmaSenha").value="";
                        }else{
                          document.getElementById("divProfessor").style.display = "none";
                          document.getElementById("divTitulo").style.display = "none";
                          document.getElementById("exampleInputLattes").removeAttribute("required");
                          document.getElementById("exampleInputLattes").value="";
                        }
                        if(document.getElementById("radioAluno").checked == true){
                           document.getElementById("exampleInputInstituicao").required=true;
                           document.getElementById ("exampleInputPassword1").value="";
                           document.getElementById ("exampleInputPassword2").value="";
                         }else{
                           document.getElementById("exampleInputInstituicao").removeAttribute("required");
                           document.getElementById("exampleInputInstituicao").value="";
                         }
                     }
    </script>

</body></html>
